<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icbc.rel.hefei.dao.salary.SalaryMapper">
    <resultMap id="salaryResultMap" type="com.icbc.rel.hefei.entity.salary.Salary">
	        <id column="id" property="id"/>
	        <result column="import_time" property="importTime"/>
	        <result column="issue_time" property="issueTime"/>
	        <result column="excel_name" property="excelName"/>
	        <result column="company_id" property="companyId"/>
	        <result column="remark" property="remark"/>
        <collection property="importList" ofType="com.icbc.rel.hefei.entity.salary.SalaryImport">
            <result column="importId" property="id"/>
            <result column="batch_no" property="batchNo"/>
            <result column="issue_time" property="issueTime"/>
            <result column="create_time" property="createTime"/>
            <result column="real_income" property="realIncome"/>
            <result column="total_revenue" property="totalRevenue"/>
            <result column="total_expenditure" property="totalExpenditure"/>
            <result column="salary_remark" property="salaryRemark"/>
            <result column="special_deduction" property="specialDeduction"/>
            <result column="unit_expenditure" property="unitExpenditure"/>
            <result column="special_info" property="specialInfo"/>
            <result column="user_id" property="userId"/>
        </collection>
    </resultMap>
    <!-- 查询工资日志信息 -->
    <select id="getUpLoadLog" resultMap="salaryResultMap">
		SELECT  id AS id,  import_time AS import_time,  issue_time AS issue_time,excel_name as excel_name	FROM  salary WHERE company_id= #{params.companyId}	order by import_time desc 
    </select>
    <!-- 删除日志 -->
    <delete id="delLog">
    	  <![CDATA[DELETE FROM salary_import WHERE batch_no = #{salaryId};]]>
    </delete>
    <delete id="delLog1">
     		<![CDATA[DELETE FROM salary WHERE id = #{salaryId};]]>
    </delete>
	<!-- 根据公司id查询模板信息 -->
	<select id="getSalaryTemplate"  resultType = "com.icbc.rel.hefei.entity.salary.SalaryCustomTemplate">
		select id,company_id as companyId,name,col_index as colIndex ,category  from  salary_custom_template  where company_id =#{companyId} 
	</select>
	<!-- 共用模板信息 -->
	<select id="getCommonTemplate"   resultType = "com.icbc.rel.hefei.entity.salary.SalaryCommonTemplate">
		select id,company_id as companyId,name,col_index as colIndex   from  salary_common_template  
	</select>
	
	<!-- 保存工资信息 -->
	<insert id="insertOaSalary" useGeneratedKeys="true" keyProperty="id"  parameterType = "com.icbc.rel.hefei.entity.salary.Salary">
		insert into salary (id,import_time,issue_time,excel_name,company_id) values (#{id},#{importTime},#{issueTime},#{excelName},#{companyId})
	</insert>
    
    
	<!-- 插入自定义项 -->
<!-- 	<insert id="insertOaSalaryImport"   parameterType = "java.util.List">
		insert into salary_import (salary_item_id , salary_id , template_id  , template_col_name , import_amount , user_id, col_index , category) values
			<foreach collection="importList" item="item"  separator="," >
				(#{item.salaryItemId} , #{item.salaryId} , #{item.templateId}  , #{item.templateColName} , #{item.importAmount} , #{item.userId}, #{item.colIndex}, #{item.category} )
   			</foreach>
   	</insert> -->
   	<insert id="insertOaSalaryImport"   parameterType = "java.util.List">
		insert into salary_import (batch_no , user_id , issue_time  , real_income , total_revenue , total_expenditure, salary_remark , special_deduction , 
		unit_expenditure ,special_info ,create_time,company_id) values
			<foreach collection="importList" item="item"  separator="," >
				(#{item.batchNo} , #{item.userId} , #{item.issueTime}  , #{item.realIncome} , #{item.totalRevenue} , #{item.totalExpenditure}, #{item.salaryRemark}, #{item.specialDeduction}
				, #{item.unitExpenditure}, #{item.specialInfo}, #{item.createTime} , #{item.companyId})
   			</foreach>
   	</insert>
   	<!-- 插入员工信息 -->
	<insert id="insertStaffInfo"   parameterType = "java.util.List">
		insert into salary_user (mobile , company_id , name , dept) values
			<foreach collection="List" item="item"  separator="," >
				(#{item.mobile} , #{item.companyId} , #{item.name} , #{item.dept} )
			</foreach>
   	</insert>
   	<!-- 修改员工登录密码 -->
   	<update id="updatePwd">
   		update salary_user set password = '0477d3da16cb08766b45682299b8a211' where id =#{id}
   	</update>
   	<!-- 删除员工账号 -->
   	<delete id="delStaff">
   		delete from salary_user where id = #{id} 
   	</delete>
   	<!-- 更换员工账号 -->
   	<update id="updateMobile">
   	<![CDATA[
   		update salary_user set mobile = #{newUserName} where mobile = #{userName} and company_id =#{companyId}
   		]]>
   	</update>
   	
		<!-- 根据公司id查询模板信息 -->
	<select id="getMobile"   resultType = "java.lang.Integer">
		select count(1) from salary_user where mobile = #{userName}
	</select>
	
	<select id="getMobileList" resultType="com.icbc.rel.hefei.entity.salary.SalaryStaff">
		select id, mobile, password, company_id as companyId, name, openId  from  salary_user where company_id =#{companyId}
	</select>
	<!-- 查询员工信息 -->
	<select id="getStaffInfo" resultType="com.icbc.rel.hefei.entity.salary.SalaryStaff">
		select id, mobile, company_id as companyId, name,dept from  salary_user  where company_id =#{companyId}  
		<if test="mobile != null and mobile != '' ">
			and mobile =#{mobile}
		</if>
		order by id desc
	</select>
	
	   	<!-- 插入员工信息 -->
	<insert id="updateAddStaffInfo"   parameterType = "com.icbc.rel.hefei.entity.salary.SalaryStaff">
		update salary_user  set mobile = #{mobile}, name =#{name} 	 where id=#{id}  
   	</insert>
	
	 <select id="getExcelNameList" resultType="java.lang.String">
		SELECT excel_name  FROM salary  where company_id =#{companyId}	
    </select>
	
</mapper>