<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icbc.rel.hefei.dao.salary.reimbursement.ReCommonMapper">
	<!-- 插入共用模板信息 -->
	<insert id="insertReCommonTemplate"   parameterType = "java.util.List">
		insert into reimbursement_common_template ( name ,  col_index,remark) values 
		<foreach collection="paramsList" item="item"  separator="," >
				( #{item.name} , #{item.colIndex}, #{item.remark}   )
   	    </foreach>
	</insert>
	<!-- 删除共用模板信息  -->
	<delete id="delCommonTemplate">
		delete from reimbursement_common_template where id=#{id}
	</delete>
	<!-- 更新共用模板信息 -->
	<update id="updateCommonTemplate">
		update reimbursement_common_template set name = #{name} ,col_index = #{colIndex} ,remark = #{remark} where id=#{id}
	</update>
	<!-- 获取共用模板信息 -->
	<select id="getCommonTemplate"    resultType="com.icbc.rel.hefei.entity.salary.reimbursement.ReCommonTemplate">
		select id,name,col_index as colIndex,IFNULL(remark,"")  as remark from reimbursement_common_template
	</select>
	<!-- 判断 -->
	<select id="judge"    resultType="com.icbc.rel.hefei.entity.salary.reimbursement.ReCommonTemplate">
		select id,name, col_index as colIndex,remark from reimbursement_common_template  where name =#{name}
	</select>
	<select id="getComCount"   resultType="java.lang.Integer">
		select count(1) from reimbursement_common_template
	</select>
	<update id="updateColIndex">
		update reimbursement_custom_template set col_index = col_index + #{amount}
	</update>
</mapper>