<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icbc.rel.hefei.dao.salary.reimbursement.ReMapper">
    <resultMap id="ReResultMap" type="com.icbc.rel.hefei.entity.salary.reimbursement.Reimbursement">
        <id column="id" property="id"/>
        <result column="import_time" property="importTime"/>
        <result column="issue_time" property="issueTime"/>
         <result column="excel_name" property="excelName"/>
         <result column="company_id" property="companyId"/>
         <result column="remark" property="remark"/>
        <collection property="importList" ofType="com.icbc.rel.hefei.entity.salary.reimbursement.ReImport">
            <result column="importId" property="id"/>
            <result column="batch_no" property="batchNo"/>
            <result column="issue_time" property="issueTime"/>
            <result column="create_time" property="createTime"/>
            <result column="total_reim" property="totalReim"/>
            <result column="special_info" property="specialInfo"/>
            <result column="user_id" property="userId"/>
        </collection>
    </resultMap>
    <!-- 查询报销日志信息 -->
    <select id="getUpLoadLog" resultMap="ReResultMap">
		SELECT id AS id,import_time AS import_time,issue_time AS issue_time,excel_name AS excel_name FROM  reimbursement WHERE company_id= #{params.companyId}	order by import_time desc     
	</select>
	
    <!-- 删除日志 -->
    <delete id="delLog">
    	DELETE FROM reimbursement_import WHERE batch_no = #{reId};
    </delete>
    <delete id="delLog1">
   	    DELETE FROM reimbursement WHERE id = #{reId};
    </delete>
    
	<!-- 根据公司id查询模板信息 -->
	<select id="getReTemplate"   resultType = "com.icbc.rel.hefei.entity.salary.reimbursement.ReCustomTemplate">
		select id,company_id as companyId,name,col_index as colIndex ,category  from  reimbursement_custom_template  where company_id =#{companyId} 
	</select>
	<!-- 共用模板信息 -->
	<select id="getCommonTemplate"   resultType = "com.icbc.rel.hefei.entity.salary.reimbursement.ReCommonTemplate">
		select id,company_id as companyId,name,col_index as colIndex   from  reimbursement_common_template  
	</select>
	
	
	<!-- 保存报销信息 -->
	<insert id="insertReimbursement" useGeneratedKeys="true" keyProperty="id" parameterType = "com.icbc.rel.hefei.entity.salary.reimbursement.Reimbursement">
		insert into reimbursement (id,import_time,issue_time,excel_name,company_id) values (#{id},#{importTime},#{issueTime},#{excelName},#{companyId})
	</insert>
    
    
	<!-- 插入自定义项 -->
	<insert id="insertReimbursementImport"   parameterType = "java.util.List">
		insert into reimbursement_import (batch_no , user_id , issue_time , total_reim , special_info , create_time, company_id) values
			<foreach collection="importList" item="item"  separator="," >
				(#{item.batchNo} , #{item.userId} , #{item.issueTime} , #{item.totalReim} , #{item.specialInfo} , #{item.createTime}, #{item.companyId})
   			</foreach>
   	</insert>
   	
	<select id="getExcelNameList" resultType="java.lang.String">
		SELECT excel_name  FROM reimbursement  where company_id =#{companyId}	
    </select>
</mapper>