<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icbc.rel.hefei.dao.SysActivityInfoDao">
   
   <!--  HELEI-->
   <insert id="insert" parameterType="com.icbc.rel.hefei.entity.SysActivityInfo">
     insert into SYS_ACTIVITYINFO( mpId,mpName,RelSceneUid,ActivityUid,ActivityName,ActivityUrl,ActivityDesc,BeginTime,EndTime,CreateTime,ModifyTime,Status,ConfigJson)
     values(#{MpId},#{MpName},#{RelSceneUid},#{ActivityUid},#{ActivityName},#{ActivityUrl},#{ActivityDesc},#{BeginTime},#{EndTime},#{CreateTime},#{ModifyTime},#{Status},#{ConfigJson})
    <selectKey resultType="Integer" order="AFTER" keyProperty="IID">
            SELECT LAST_INSERT_ID() AS IID
    </selectKey>
   </insert>
   <!-- <insert id="insert" parameterType="com.icbc.rel.hefei.entity.SysActivityInfo">
     insert into SYS_ACTIVITYINFO( mpId,mpName,RelSceneUid,ActivityUid,ActivityName,ActivityUrl,ActivityDesc,BeginTime,EndTime,CreateTime,ModifyTime,Status) 
     values(#{MpId},#{MpName},#{RelSceneUid},#{ActivityUid},#{ActivityName},#{ActivityUrl},#{ActivityDesc},#{BeginTime},#{EndTime},#{CreateTime},#{ModifyTime},0)
    <selectKey resultType="Integer" order="AFTER" keyProperty="IID">
            SELECT LAST_INSERT_ID() AS IID
    </selectKey>
   </insert> -->
   
   <update id="update" parameterType="com.icbc.rel.hefei.entity.SysActivityInfo">
   update SYS_ACTIVITYINFO set ActivityName=#{ActivityName},BeginTime=#{BeginTime},EndTime=#{EndTime},ModifyTime=#{ModifyTime},ActivityUrl=#{ActivityUrl},ActivityDesc=#{ActivityDesc}
   ,ConfigJson=#{ConfigJson}
   where ActivityUid=#{ActivityUid}
   </update>
   <!-- <update id="update" parameterType="com.icbc.rel.hefei.entity.SysActivityInfo">
   update SYS_ACTIVITYINFO set ActivityName=#{ActivityName},ActivityDesc=#{ActivityDesc}, BeginTime=#{BeginTime},EndTime=#{EndTime},ModifyTime=#{ModifyTime},ActivityUrl=#{ActivityUrl},ActivityDesc=#{ActivityDesc} 
   where ActivityUid=#{ActivityUid}
   </update> -->
   
   <update id="del" parameterType="String">
   update SYS_ACTIVITYINFO set Status=-1 where ActivityUid=#{activityUid}
   </update>
   
   <update id="updateName" parameterType="com.icbc.rel.hefei.entity.SysActivityInfo">
   update SYS_ACTIVITYINFO set ActivityName=#{ActivityName},ActivityDesc=#{ActivityDesc},ModifyTime=#{ModifyTime} 
   where ActivityUid=#{ActivityUid}
   </update>
   <select id="getSceneByUid" resultType="com.icbc.rel.hefei.entity.SysActivityInfo">
    select  * from SYS_ACTIVITYINFO where ActivityUid=#{activityUid}
   </select>
   
  <!--  <select id="generateId" statementType="CALLABLE" resultType="String">
     {call SP_System_GenerateSN (#{pre,mode=IN,jdbcType=VARCHAR},#{result,mode=OUT,jdbcType=VARCHAR})}
  </select> -->
   
   <select id="getMyScene" resultType="com.icbc.rel.hefei.entity.SysActivityInfo">
     select  * from SYS_ACTIVITYINFO where mpId=#{mpId} and Status=0
     
     <if test="activityName !=null and activityName != ''">
		and activityName = #{activityName}
	    </if>
       order by iid desc 
   </select>
   
    <select id="getMyActivity" resultType="com.icbc.rel.hefei.entity.SysActivityInfo">
     select  * from SYS_ACTIVITYINFO where mpId=#{mpId} and RelSceneUid=#{sceneType} and Status=0
    </select>

    
    <select id="getActivityByRelScenUid" resultType="com.icbc.rel.hefei.entity.SysActivityInfo">
    select * from  SYS_ACTIVITYINFO where Status=0
    <if test="RelScenUid !=null and RelScenUid != ''">
     and RELSCENEUID= #{RelScenUid} 
    </if>
     order by BeginTime desc LIMIT #{start},#{limit}
  </select>
  
    <select id="getcountByRelScenUid" resultType="Integer">
        select  count(iid) from SYS_ACTIVITYINFO  where Status=0
    <if test="RelScenUid !=null and RelScenUid != ''">
   and RELSCENEUID= #{RelScenUid}
    </if>
    </select>
    
    <update id="updateNoNull" parameterType="com.icbc.rel.hefei.entity.SysActivityInfo">
        update SYS_ACTIVITYINFO
        <trim prefix="set" suffixOverrides=",">
            <if test="ActivityName!=null">ActivityName=#{ActivityName},</if>
            <if test="BeginTime!=null">BeginTime=#{BeginTime},</if>
            <if test="EndTime!=null">EndTime=#{EndTime},</if>
            <if test="ModifyTime!=null">ModifyTime=#{ModifyTime},</if>
            <if test="ActivityUrl!=null">ActivityUrl=#{ActivityUrl},</if>
            <if test="ActivityDesc!=null">ActivityDesc=#{ActivityDesc},</if>
            <if test="ConfigJson!=null">ConfigJson=#{ConfigJson},</if>
        </trim>
        where ActivityUid=#{ActivityUid}
    </update>
    
</mapper>