*{
	margin: 0;
	padding: 0;
}
tr td{
	text-align: center;
}
tr td input{
	width: 80%;
	font-size: 16px;
}

body{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.tab{
	    border-top: 1px solid #009688;
}
.tab-box {
    width:100%;
    margin: 30px auto;
}
#nav-ul{
    list-style-type: none;
       display: flex;
    justify-content: center;
}

.tab-box li {
       float: left;
    width: 137px;
    background: #F3F3F4;
    color: #009688;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin-right: 3px;
    font-weight: bold;
    border: 1px solid #009688;
    border-bottom: 0;
}

.tab-box li.active {
        background: #009688;
    color: white;
}        
.tab-content .tab {
    width:100%;
    padding: 15px 5px;
    color: #000;
    clear: left;
    display: none;
    padding-top: 90px;
    
}
.input-box{
	margin-left: 36%;
}
.tab .input-name{
	display: inline-block;
	width: 90px;
}
/*//娉ㄦ剰杩欓噷璁剧疆鏁翠釜瀹瑰櫒閲岀殑div涓轰笉鍙鐨�*/

.tab-box div.active-txt {
    display: block;
}


table{
	    width: 45%;
    margin: 0 auto;
    /* background: red; */
    /* margin-left: 100px; */
    min-width: 600px;
}
table tr{
	line-height: 40px;	
}
table tr:nth-child(odd){
	background: #DDDDDD;
}


.tab .add-input{
	    width: 138px;
    /* font-size: 16px; */
    padding: 5px 8px;
    border: 1px solid #009688;
    outline: none;
    margin-left: 10%;
    margin: 20px 0 0px 1%;
    border-radius: 5px;
    /* height: 28px; */
    font-size: 16px;
    height:25px;
}
#mytab_02_1 .select{
	background: white;
    height: 35px;
    width: 150px;
    text-align: center;
    text-align-last: center;
}
.add-btn{
	    padding: 4px 10px;
    background: #009688;
    color: white;
    line-height: 21px;
    font-size: 16px;
    text-decoration: none;
    border: 0px solid #009688;
    /* padding: 5px 38px; */
    display: block;
    width: 84px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    border-radius: 5px;
    /* margin-left: 196px; */
    margin: 20px 0 20px 126px;
}


.btn{
	width: 55px;
    /* height: 30px; */
    display: inline-block;
    text-align: center;
    background: #009688;
    line-height: 28px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

/*鑷畾涔夊瓧娈�*/
.alternative{
	width: 80%;
	margin-left: 10%;
}
.alternative span{
	border: 1px solid #009688;
    display: inline-block;
    padding: 5px 8px;
    color: #666;
    font-size: 14px;
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 25px;
}
.add{
	width: 80%;
    border: 1px solid #009688;
    min-height: 100px;
 	padding: 10px;
    margin: 50px 0 0 10%;
}



.tab .act{
	background: #009688;
	color: white;
}


.add span{
	display: inline-block;
	padding: 3px 5px;
    border: 1px solid #009688;
    boeder-radius: 8px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/*寮圭獥*/
.alert-update{
	    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.2);
}
.alert-box{
	    position: absolute;
    width: 400px;
    background: white;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}
.alert-box .alertinput-name{
	display: inline-block;
	width: 90px;
}
.que-btn{
	padding: 2px 10px;
    background: #009688;
    color: white;
    line-height: 21px;
    font-size: 16px;
    text-decoration: none;
    border: 0px solid #009688;
        /* padding: 5px 38px; */
    display: block;
    width: 84px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    border-radius: 5px;
    /* margin-left: 196px; */
    margin: 20px 0 20px 165px;
}

.tab input{
	    text-align: center;
    height: 27px;
    display: inline-block;
    font-size: 16px;
}
.tab button{
    /* height: 30px; */
    display: inline-block;
    text-align: center;
    background: transparent;
    line-height: 28px;
    text-decoration: none;
    color: #009688;
    border-radius: 5px;
    border: 0;
    margin-right: 38px;
    float: left;
    background: #009688;
    color: white;
    padding: 4px 8px;
    font-size: 16px;
}
.tab3 .tab3-btn{
	width: 130px;
    height: 40px;
    background: #009688;
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
    display:block;
    margin: 1px auto;
    -webkit-tap-highlight-color: transparent;
}
.tab3 .inline{
	display:inline-block;
}
.tab3 .tab3-btn1{
	display:inline-block;
	margin-left:40%;
	margin-right:5%;
}
.DIY span:hover{
 background-color: #ddd;
}
.DIY span .delete{
 float: right;
 width: 15px;
 height: 15px;
 display: block;
 background-image: url(../images/salary/close.png);
 background-repeat: round;
 margin-top: -10px;
 margin-right: -10px;
 display: none;
}
.DIY span:hover .delete{
 display: block;
}




.search-collapse1{
	    margin-left: 50%;
    transform: translateX(-50%)
}
.search-collapse2{
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 700px;
}


